<h1> This is the singup page </h1>

<% if (@user.errors.any?) %>
<h2> The following errors prevented the article from getting created </h2>
<ul>
  <% @user.errors.full_messages.each do |msg|  %>
  <li> <%= msg %> </li>
  <% end %>
</ul>
<% end %>


<!-- Rails will automatically prefill the information -->
<%= form_for @user do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.submit 'signup' %>
  </p>

<% end %>